body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::placeholder {
  color: #e71d36;
}
.admin {
  color: #e71d36;
  font-size: 16px;
}
.form {
  border-radius: 8px;
  border: 6px solid #2ec4b6;
  width: 400px;
  height: 600px;
}
button {
  background-color: #2ec4b6;
  color: white;
  border: 8px solid #2ec4b6;
}

/* card code */
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 600px;
  height: 170px;
  background-color: #ffffff;
  padding: 10px;
  border: 4px solid #2ec4b6;
  border-radius: 8px;
  margin: 15px;
}
​ .grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.button1 {
  width: 130px;
  height: 50px;
  background: #2ec4b6;
  border-color: #2ec4b6;
  color: white;
}
.button2 {
  width: 130px;
  height: 50px;
  background: #e71d36;
  border-color: #e71d36;
  color: white;
}
.info {
  text-align: left;
  font-size: 16px;
}
img {
  margin-top: 5px;
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /* height: 10px; */
  background-color: white;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid black; */
  text-align: center;
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
