div.container {
  width: 30%;
  height: 550px;
  border: 3px solid #2ec4b6;
  padding: 40px 60px;
  text-align: "center";
  border-radius: 8px;
  margin-left: 420px;
  box-shadow: 5px, 10px gray;
  background-color: #f2f2f2;
}

::placeholder {
  color: #e71d36;
  font-family: Arial;
}
div.card {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

input {
  width: 85%;
  height: 35px;
}

div.card {
  box-shadow: gray;
}

button {
  width: 60%;
  height: 50px;
  margin-left: 10px;
  color: white;
  background-color: #2ec4b6;
  border: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: Arial;
}
h1 {
  font-family: sans-serif;
}

text {
  font-family: sans-serif;
}
input[type="price"] {
  margin-right: 30px;
  margin-left: 18px;
  height: 50px;
}
input[type="quantity"] {
  height: 50px;
  margin-right: 18px;
}
input[type="description"] {
  height: 80px;
}
