ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #192a51;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

.AdminProductsdisplay {
  /* border: 1.5px solid #2ec4b6; */
  border-radius: 8%;
  padding: 20px;
  margin: 20px;
  height: 230px;
  width: 250px;
  margin-top: 10px;
  box-shadow: 0px 0px 1.5px 1.5px #000;
  display: block;
  float: left;
}
#prodDesc {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#outerDiv {
}

.insideDiv {
  width: 16em;
  max-height: 100px;
  border: 1.5px solid #2ec4b6;
}
#editBtn {
  border: 1.5px solid #2ec4b6;
  border-radius: 12%;
  background: #fff;
  color: #2ec4b6;
  float: left;
  margin-left: 8px;
  /* height: 20px; */
  margin-top: 80px;
  width: 90px;
}
#delBtn {
  border: 1.5px solid #e71d36;
  border-radius: 10%;
  background: #fff;
  color: #e71d36;
  /* float: right; */
  margin-right: 8px;
  /* height: 20px; */
  margin-top: 80px;
  width: 100px;
  align-content: center;
}

.prodInfo {
  color: #000;
  font-size: 23px;
  padding-top: 10px;
  float: left;
}

#addProdBtn {
  float: right;
  display: fixed;
  background: white;
  border: 1.5px solid #e71d36;
  color: #e71d36;
  margin-bottom: 16px;
  margin-right: 50px;
}
#delBtn:hover {
  background-color: #e71d36;
  color: white;
}
#editBtn:hover {
  background-color: #2ec4b6;
  color: white;
}

#addProdBtn:hover {
  background-color: #e71d36;
  color: white;
}
