ul {
  margin-left: 10px;
  margin-top: 10px;
  background-color: grey;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  align-content: center;
  margin-left: 25%;
  margin-right: 25%;
}
h1 {
  text-align: center;
  font-family: sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 70%;
  padding: 12px;
  float: center;
  border: 1px solid rgb(17, 17, 17);
  box-sizing: border-box;
  align-content: center;
  resize: vertical;
  align-items: center;
  margin-left: 14%;
  border-radius: 4px;
  height: 50px;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="button"] {
  background-color: #2ec4b6;
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  widows: 50px;
  width: 40%;
  align-content: center;
  align-items: center;

  margin-left: 28%;
}
::placeholder {
  color: #e71d36;
  font-family: Arial;
  font-size: 14px;
}

/* Clear floats after the columns */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="button"] {
    width: 100%;
    margin-top: 0;
  }
}

#container {
  border-radius: 8px;
  width: 80%;
  float: center;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-bottom: 2px solid #2ec4b6;
  border-top: 2px solid #2ec4b6;
  border-right: 2px solid #2ec4b6;
  box-shadow: 5px 10px grey;
  border-left: 2px solid #2ec4b6;
}

#sig {
  padding: 14px 20px;
  margin-left: 39%;
  width: 20%;
}
#link {
  margin-left: 38%;
  color: #e71d36;
}

p {
  margin-left: 39%;
  font-family: Arial;
}
