.form {
  border: 5px solid #2ec4bc;
  z-index: 1;
  background: #ffffff;
  width: 600px;
  /* margin: 0 auto 100px; */
  padding: 60px;
  box-shadow: 0 4px 12 px grey;
  text-align: center;

  box-shadow: 0 4px 8px #2ec4bc;
  margin-left: -150px;

  border-radius: 8px;
}

form label,
form textarea,
form input {
  font-family: "sans-serif";
  /* outline: 0; */
  border: 1px solid black;
  background: #f2f2f2;
  width: 100%;

  margin: 0 0 30px;
  /* margin-right: 10px !important; */

  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), o 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.next {
  padding: 10px;

  background-color: #2ec4bc;
  height: 45px;
  color: white;
  width: 50%;
  margin-top: 40px;
}

.login {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}

::placeholder {
  color: #e71d36;
}

.otp {
  padding: 10px;
  margin-bottom: 20px;

  background-color: #2ec4bc;
  height: 45px;
  color: white;
  width: 20%;
}
